/*
!.apparixrc
!.bash_apparix
!.bash_profile
!.bashrc
#Ubuntu vscode settings locations
.config/**
!.config/
!.config/Code/
!.config/Code/User/
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json
# Ulauncher settings locations
!.config/autostart/
!.config/autostart/ulauncher.desktop
!.git-completion.bash
!.gitconfig
!.gitignore
!.gitignore_global
!.inputrc
!.profile_tm
!.xbindkeysrc
!/shconfig