[user]
	name = Kieran Ramdany
	email = 12574206+kiramdany@users.noreply.github.com
[diff]
	tool = p4merge
[difftool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge $LOCAL $REMOTE
[difftool]
	prompt = false
[core]
	excludesfile = /Users/k.ramdany/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	co = checkout
	browse = !sh -c 'stash browse'
	d = diff --color-words
	ds = diff --name-status
	ci = commit
	s = status
	b = !git for-each-ref --count=${1:-5} --sort=-committerdate refs/heads/ --format='%(refname:short)'
[commit]
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
