*
!.*
.yarnrc
.zoom
.viminfo
.vim/.netrwhist
.nvm/
.ICEauthority
.apparixexpand
.apparixlog
.babel.json
.bash_history
.bash_logout
.bashrc_default
.git-credentials
.lesshst
.meteorsession
.nix-channels
.nix-profile
.node_repl_history
.tig_history
.ts_node_repl_history
.v8flags.6.8.275.32-node.52.e75e36fabca3fe9901506f23b02f2679.json
.v8flags.8.4.371.19-node.18.e75e36fabca3fe9901506f23b02f2679.json
.docker/.buildNodeID
.python_history
.serverlessrc
.sudo_as_admin_successful
.java/.userPrefs/.user.lock.kieran
.java/.userPrefs/.userRootModFile.kieran
.quokka/.qid
.quokka/.qlc
.wallaby/.ol



